
@layer core {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;

		scrollbar-width: thin;
		scrollbar-color:
			color-mix(in oklab, var(--text), transparent 60%)
			transparent;
	}

	::selection, ::-moz-selection, ::-webkit-selection {
		color: var(--selection-text);
		background: var(--selection);
	}

	a {
		color: var(--link);
		text-decoration: none;

		&:is(:hover, :focus-visible) {
			color: color-mix(in oklch, var(--link), white 30%);
			text-decoration: underline;
		}

		&:active {
			color: color-mix(in oklch, var(--link), black 30%);
			text-decoration: underline;
		}
	}
}

