
@layer page {
	html, body {
		min-height: 100%;
	}

	html {
		font-size: clamp(12px, 2vw, 21px);
		font-family: var(--font-primary);

		color: var(--text);
		text-shadow: var(--text-shadow);

		background:
			radial-gradient(circle at center, #0a2c4033 10%, #09131fcc 80%) fixed,
			url("https://stuff.sfo3.cdn.digitaloceanspaces.com/shrimple/bg.webp") center / cover fixed #000;
	}

	body {
		display: flex;
		flex-direction: column;
		align-items: center;

		width: 100%;
		max-width: var(--page-width);
		margin: auto;
	}

	main {
		width: 100%;

		&::before {
			content: "";
			display: block;
			height: var(--header-size);
		}
	}

	shrimple-shell {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100%;

		> * {
			width: 100%;
		}
	}

	.featurettes {
		container-type: inline-size;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10em;

		> section {
			padding: 1em;
		}
	}

	h2 {
		font-size: 2em;
	}

	.chill {
		opacity: 0.5;
		font-size: 1.5em;
		font-family: serif;
		font-weight: normal;
		font-style: italic;
	}

	.emoji {
		font-size: 3em;
	}
}

