
@layer page {
	html {
		font-size: clamp(12px, 2dvw, 21px);
		font-family: var(--font-primary);

		scrollbar-gutter: stable;

		color: var(--text);
		text-shadow: var(--text-shadow);
		background: radial-gradient(circle at 20% 20%,
 			color-mix(in oklab, transparent, var(--prime) 18%) 0%, transparent 55%), radial-gradient(circle at 80% 80%,
 			color-mix(in oklab, transparent, var(--tier-whale) 15%) 0%, transparent 60%), var(--gradient-ocean) fixed;
	}

	body {
		display: flex;
		flex-direction: column;
		align-items: center;

		min-height: 100dvh;

		width: 100%;
		max-width: var(--page-width);

		margin: auto;

		> shrimple-header {
			z-index: 1;
			position: sticky;
			top: 0;
		}

		> main {
			width: 100%;
		}

		> footer {
			color: color-mix(in oklch, transparent, var(--text) 50%);
			margin-top: auto;

			display: flex;
			justify-content: center;
			align-items: center;
			width: 100%;
			gap: 2em;

			padding: 3em 1em;
			background: #1114;
			border-top: 0.1em solid #fff2;
			border-top-right-radius: 20px;
			border-top-left-radius: 20px;
		}
	}

	shrimple-shell {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		min-height: 100%;

		> * {
			width: 100%;
		}
	}

	.featurettes {
		container-type: inline-size;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 10em;
		margin-bottom: 10em;

		> section {
			padding: 1em;
		}
	}

	h2 {
		font-size: 1.6em;
	}

	.chill {
		opacity: 0.5;
		font-size: 1.1em;
		font-family: serif;
		font-weight: normal;
		font-style: italic;
	}

	.emoji {
		font-size: 3em;
	}
}

