
.feat-mindset {
	display: flex;
	flex-direction: column;

	width: 100%;
	text-align: center;

	> h2 {
		margin-bottom: 2em;
	}

	h3 > span {
		color: var(--prime);
	}

	p {
		opacity: 0.5;
	}

	.box {
		font-size: 1em;
		display: flex;
		flex-wrap: wrap;
		gap: 2em;

		> section {
			flex: 1 0 10em;
		}
	}
}

