
.feat-mindset {
	display: flex;
	flex-direction: column;

	width: 100%;
	text-align: center;

	.box {
		font-size: 1em;
		display: flex;
		flex-wrap: wrap;
		gap: 2em;

		margin-top: 3em;

		> section {
			flex: 1 0 10em;

			h3 > span {
				color: var(--prime);
			}
		}
	}
}

