
.feat-providers {
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;

	h2 {
		text-align: center;
	}

	h3 {
		margin-bottom: 2em;
	}

	.provider-box {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		gap: 0.8em;
	}

	.provider-card {
		display: flex;
		align-items: center;
		gap: var(--padding);
		padding: var(--padding);

		border-radius: var(--rounded-big);
		border-top: 0.15em solid #fff4;
		background: #3b649945;
		box-shadow: var(--shadow);
	}

	.provider-emoji {
		font-size: 2em;
	}

	.provider-info {
		flex: 1;
	}

	.provider-title {
		display: flex;
		align-items: center;
		gap: var(--padding-small);

		h3 {
			margin: 0;
			font-size: 1.5em;
		}
	}

	.free {
		background: color-mix(in oklab, transparent, var(--tier-shrimp) 15%);
		color: var(--tier-shrimp);
	}

	.toggle {
		width: 2.8rem;
		height: 1.5rem;
		border-radius: 999px;
		background: var(--prime);
		padding: 0.2rem;
		display: flex;
		justify-content: flex-end;
		align-items: center;

		.toggle-dot {
			width: 1.1rem;
			height: 1.1rem;
			border-radius: 999px;
			background: white;
			box-shadow: var(--shadow-small);
		}
	}
}

