
.feat-pricing {
	text-align: center;
	width: 100%;

	> h2 {
		margin-bottom: 2em;
	}

	.fine {
		text-align: center;
		margin: 0 auto var(--padding-grand);
		max-width: 32rem;
		font-size: var(--font-size-small);
	}

	.tier-grid {
		display: grid;
		gap: 0.4em;
		grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
	}

	.tier-card {
		position: relative;

		display: flex;
		flex-direction: column;
		gap: var(--padding);

		padding: var(--padding);
		border-radius: var(--rounded-bigger);
		border: 1px solid	color-mix(in oklab, transparent, white 10%);

		background: var(--bg-card);
		box-shadow: var(--shadow-small);
		transition: transform var(--anim) ease, box-shadow var(--anim) ease;

		h3 {
			font-size: 2em;
		}

		&:hover {
			transform: translateY(-6px);
			box-shadow: var(--shadow-big);
		}

		[x-pill] {
			position: absolute;
			top: -0.75em;
			left: 50%;
			transform: translateX(-50%);

			color: white;
			&[data-highlight="free"] { color: var(--free); }
			&[data-highlight="nice"] { color: var(--calm); }
		}

		.tier-emoji {
			text-align: center;
			font-size: 4em;
		}

		.tier-price {
			text-align: center;
			color: color-mix(in oklch, var(--calm), white 50%);

			.price {
				font-size: 2em;
				font-weight: bold;
			}
		}

		.tier-desc {
			text-align: center;
		}

		ul {
			color: var(--text-weak);
			list-style: none;
			display: flex;
			flex-direction: column;
			gap: var(--padding-small);
			padding: 0;
			flex: 1;
		}

		li {
			display: flex;
			gap: var(--padding-small);
			font-size: 0.8em;
			text-align: left;

			.check {
				color: var(--prime);
				font-weight: 700;
			}
		}

		button {
			width: 100%;
			margin-top: 2em;
		}
	}
}

