
@layer core {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;

		scrollbar-width: thin;
		scrollbar-color:
			color-mix(in oklab, var(--text), transparent 60%)
			transparent;
	}

	::selection, ::-moz-selection {
		color: white;
		background: var(--selection);
	}

	a {
		color: var(--prime);
		text-decoration: none;
		transition: color var(--anim-fast) ease;
	}

	a:is(:hover, :focus-visible) {
		color: color-mix(in oklab, var(--prime), black 15%);
		text-decoration: underline;
	}
}

