
@layer page {
	html, body {
		min-height: 100%;
	}

	html {
		font-size: var(--root-font-size);
		font-family: var(--font-primary);

		color: var(--text);
		text-shadow: var(--text-shadow);

		background:
			radial-gradient(circle at center, #0a2c4033 10%, #09131fcc 80%) fixed,
			url("https://stuff.sfo3.cdn.digitaloceanspaces.com/shrimple/bg.webp") center / cover fixed #000;
	}

	body {
		color: var(--text);
		background: transparent;

		display: flex;
		flex-direction: column;
		align-items: center;
	}

	shrimple-shell {
		width: 100%;
		min-height: 100%;
		max-width: var(--page-width);
	}
}

