@layer vars, core, basics, page;

@layer vars {
	:root {
		color-scheme: dark;

		--link: #7dd3fc;
		--prime: #f97316;
		--special: #38bdf8;

		--bg: #0b1020;
		--plate: #121a2f;


		--bg-main: radial-gradient(
			1200px 800px at 50% -200px,
			#1c2a4a 0%,
			#0b1020 45%,
			#070b14 100%
		);

		--text-main: #e8ecf3;
		--text-muted: #aab1c5;

		--blue: #2f6bff;
		--blue-hover: #3d7bff;

		--card-bg: rgba(255, 255, 255, 0.06);
		--card-border: rgba(255, 255, 255, 0.12);
	}
}

@layer core {
	* {
		padding: 0;
		margin: 0;
		box-sizing: border-box;

		scrollbar-width: thin;
		scrollbar-color: #2a335a transparent;
	}

	::-webkit-scrollbar { width: 4px; }
	::-webkit-scrollbar-track { background: transparent; }
	::-webkit-scrollbar-thumb {
		background: #2a335a;
		border-radius: 1em;
	}
	::-webkit-scrollbar-thumb:hover { background: #3b4a85; }

	a {
		color: var(--link);
		text-decoration: none;

		&:visited {
			color: color-mix(in srgb, var(--link), #8b5cf6 30%);
		}

		&:is(:hover, :focus-visible) {
			color: color-mix(in srgb, var(--link), white 15%);
			text-decoration: underline;
		}

		&:active {
			color: color-mix(in srgb, var(--link), white 40%);
		}
	}
}

@layer basics {
	html, body {
		height: 100%;
	}

	html {
		font-family: "Inter", "Alan Sans", system-ui, sans-serif;
		font-size: 12px;
		color: #e5e7eb;

		--bgcover: color-mix(in lch, transparent, var(--bg) 88%);
		background:
			linear-gradient(to bottom, var(--bgcover), var(--bgcover)),
			var(--bg) url("/assets/bg.webp");
		background-repeat: repeat;
		text-shadow: none;
	}
}

@layer page {
	body {
		display: flex;
		flex-direction: column;
		align-items: center;
		color: var(--text-main);
		font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
	}

	shrimple-app {
	}
}
