
.feat-quote {
	display: flex;
	position: relative;

	width: 100%;

	overflow: clip;
	padding: 0;
	border-radius: 1.5em;

	video {
		opacity: 0.2;
		position: absolute;
		z-index: -1;
		inset: 0;
		width: 100%;
		height: 100%;

		object-fit: cover;

		mask-image:
			linear-gradient(to top,    transparent 5%, #fff 40%),
			linear-gradient(to bottom, transparent 5%, #fff 40%),
			linear-gradient(to left,   transparent 5%, #fff 40%),
			linear-gradient(to right,  transparent 5%, #fff 40%);

		mask-composite: intersect;
	}

	figure.text {
		font-family: serif;

		display: flex;
		flex-direction: column;
		justify-content: center;

		font-size: 1.6em;
		padding: 1em;
		flex: 1 1 auto;
		gap: 1em;
		text-align: center;

		blockquote {
		}

		figcaption {
			padding-left: 1em;
			font-style: italic;
			font-size: 0.6em;
		}
	}

	img {
		opacity: 0.3;
		width: 25cqw;
		flex: 0 0 auto;
		mask-image: linear-gradient(to right, transparent 5%, black 50%);
		-webkit-mask-image: linear-gradient(to right, transparent 5%, black 50%);
	}
}

